/* About-Me  */

.about-me-container {
    position: relative;
    width: 100%;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.2); /* Fully transparent white */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Space between image and details */
}

.col-1 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-1 img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.details {
    flex: 2;
}

.details p{
    color: #333;
}
.about-me-text {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        text-align: center;
    }

    .about-me-container {
        max-width: 90%;
    }

    .col-1 {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .about-me-title {
        font-size: 2rem;
    }

    .about-me-text {
        font-size: 1rem;
    }

    .about-me-container {
        max-width: 80%;
    }
}