/* Footer Styles */
footer {
    /* background: rgb(104,109,118);
    background: linear-gradient(90deg, rgba(104,109,118,1) 11%, rgba(49,54,63,1) 100%); 
    background: #7D7C7C; */
    color: #373A40;
    padding: 20px 10%;
    text-align: center;
    border-radius: 6px;
    border-top: 1px solid #eaeaea;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 10px 0;
    font-size: 16px;
}

.footer-content a {
    color: #222831; /* Gold color for links */
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    footer {
        padding: 20px 5%;
    }

    .footer-content p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 15px 2%;
    }

    .footer-content p {
        font-size: 11px;
    }
}
