.certificate-image img {
    width: 100px;
    border-radius: 10px;
    position: static;
}

.certificate-image {
    text-align: center; /* Center-aligns content inside the container */
}

.certificate-image img {
    width: 150px; /* Set width of the image */
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Makes the image behave like an inline element for centering */
    margin: 20px auto; /* Centers the image horizontally and adds space above and below */
}